<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myScPostsMentionsLabel" jhiTranslate="cocoApp.scPostsMentions.home.createOrEditLabel">Create or edit a Sc Posts Mentions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!scPostsMentions.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="scPostsMentions.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cocoApp.scPostsMentions.senderId" for="field_senderId">Sender Id</label>
            <input type="number" class="form-control" name="senderId" id="field_senderId"
                [(ngModel)]="scPostsMentions.senderId"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cocoApp.scPostsMentions.data" for="field_data">Data</label>
            <div>
                <div *ngIf="scPostsMentions.data" class="form-text text-danger clearfix">
                    <span class="pull-left">{{scPostsMentions.dataContentType}}, {{byteSize(scPostsMentions.data)}}</span>
                    <button type="button" (click)="scPostsMentions.data=null;scPostsMentions.dataContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, scPostsMentions, 'data', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="data" id="field_data"
                [(ngModel)]="scPostsMentions.data"
             />
            <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType"
                [(ngModel)]="scPostsMentions.dataContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cocoApp.scPostsMentions.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="scPostsMentions.time"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cocoApp.scPostsMentions.isRead" for="field_isRead">Is Read</label>
            <input type="number" class="form-control" name="isRead" id="field_isRead"
                [(ngModel)]="scPostsMentions.isRead"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="cocoApp.scPostsMentions.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="scPostsMentions.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === scPostsMentions.user?.id ? scPostsMentions.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cocoApp.scPostsMentions.scPosts" for="field_scPosts">Sc Posts</label>
            <select class="form-control" id="field_scPosts" name="scPosts" [(ngModel)]="scPostsMentions.scPosts" >
                <option [ngValue]="null"></option>
                <option [ngValue]="scPostsOption.id === scPostsMentions.scPosts?.id ? scPostsMentions.scPosts : scPostsOption" *ngFor="let scPostsOption of scposts; trackBy: trackScPostsById">{{scPostsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
