<div id="admin-navigation" class="App-nav sideNav">
    <div class="ButtonGroup Dropdown dropdown AdminNav App-titleControl Dropdown--select Dropdown--select itemCount7">
        <button class="Dropdown-toggle Button" data-toggle="dropdown">
            <span class="Button-label">Basics</span>
            <i class="icon fa fa-fw fa-sort Button-caret"></i>
        </button>
        <ul class="Dropdown-menu dropdown-menu ">
            <li class="item-dashboard">
                <a href="#" active="false" class="hasIcon" title="Dashboard">
                    <i class="icon fa fa-fw fa-bar-chart Button-icon"></i>
                    <span class="Button-label">Dashboard</span>
                    <div class="AdminLinkButton-description">Your forum at a glance.</div>
                </a>
            </li>
            <li class="item-basics active">
                <a href="#" active="true" class="hasIcon" title="Basics">
                    <i class="icon fa fa-fw fa-pencil Button-icon"></i>
                    <span class="Button-label">Basics</span>
                    <div class="AdminLinkButton-description">Set your forum title, language, and other basic settings.</div>
                </a>
            </li>
            <li class="item-mail">
                <a href="#" active="false" class="hasIcon" title="Email">
                    <i class="icon fa fa-fw fa-envelope Button-icon"></i>
                    <span class="Button-label">Email</span>
                    <div class="AdminLinkButton-description">Configure your forum's email settings.</div>
                </a>
            </li>
            <li class="item-permissions">
                <a href="#" active="false" class="hasIcon" title="Permissions">
                    <i class="icon fa fa-fw fa-key Button-icon"></i>
                    <span class="Button-label">Permissions</span>
                    <div class="AdminLinkButton-description">Configure who can see and do what.</div>
                </a>
            </li>
            <li class="item-appearance">
                <a href="#" active="false" class="hasIcon" title="Appearance">
                    <i class="icon fa fa-fw fa-paint-brush Button-icon"></i>
                    <span class="Button-label">Appearance</span>
                    <div class="AdminLinkButton-description">Customize your forum's colors, logos, and other variables.</div>
                </a>
            </li>
            <li class="item-extensions">
                <a href="#" active="false" class="hasIcon" title="Extensions">
                    <i class="icon fa fa-fw fa-puzzle-piece Button-icon"></i>
                    <span class="Button-label">Extensions</span>
                    <div class="AdminLinkButton-description">Add extra functionality to your forum and make it your own.</div>
                </a>
            </li>
            <li class="item-tags">
                <a href="#" active="false" class="hasIcon" title="Tags">
                    <i class="icon fa fa-fw fa-tags Button-icon"></i>
                    <span class="Button-label">Tags</span>
                    <div class="AdminLinkButton-description">Manage the list of tags available to organise discussions with.</div>
                </a>
            </li>
        </ul>
    </div>
</div>
