<div class="SettingsPage">
    <ul>
        <li class="item-notifications">
            <fieldset class="Settings-notifications">
                <legend>Notifications</legend>
                <ul>
                    <li class="item-notificationGrid">
                        <table class="NotificationGrid">
                            <thead>
                            <tr>
                                <td></td>
                                <th class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-bell "></i> Web</th>
                                <th class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-envelope-o "></i>
                                    Email
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-pencil "></i>
                                    Someone renames a discussion I started
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox off  disabled">
                                        <input type="checkbox" disabled="">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-times "></i></div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-thumbs-o-up "></i>
                                    Someone likes one of my posts
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox off  disabled">
                                        <input type="checkbox" disabled="">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-times "></i></div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-lock "></i>
                                    Someone locks a discussion I started
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox off  disabled">
                                        <input type="checkbox" disabled="">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-times "></i></div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-reply "></i>
                                    Someone replies to one of my posts
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-at "></i>
                                    Someone mentions me in a post
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="NotificationGrid-groupToggle"><i class="icon fa fa-fw fa-star "></i>
                                    Someone posts in a discussion I'm following
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                                <td class="NotificationGrid-checkbox">
                                    <label class="Checkbox on ">
                                        <input type="checkbox">
                                        <div class="Checkbox-display"><i class="icon fa fa-fw fa-check "></i></div>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="item-followAfterReply">
                        <label
                            class="Checkbox Checkbox--switch Checkbox--switch">
                            <input type="checkbox">
                            <div class="Checkbox-display"></div>
                            Automatically follow discussions that I reply to
                        </label>
                    </li>
                </ul>
            </fieldset>
        </li>
        <li class="item-privacy">
            <fieldset class="Settings-privacy">
                <legend>Privacy</legend>
                <ul>
                    <li class="item-discloseOnline">
                        <label class="Checkbox Checkbox--switch Checkbox--switch">
                            <input type="checkbox">
                            <div class="Checkbox-display"></div>
                            Allow others to see when I am online
                        </label>
                    </li>
                </ul>
            </fieldset>
        </li>
    </ul>
</div>
