<div class="DiscussionList">
    <ul class="DiscussionList-discussions">

        <li data-id="1662">
            <div class="DiscussionListItem">
                <div class="ButtonGroup Dropdown dropdown DiscussionListItem-controls itemCount1">
                    <button class="Dropdown-toggle Button Button--icon Button--flat Slidable-underneath Slidable-underneath--right" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon fa fa-fw fa-ellipsis-v Button-icon"></i>
                        <span class="Button-label"></span>
                        <i class="icon fa fa-fw fa-caret-down Button-caret"></i>
                    </button>
                    <ul class="Dropdown-menu dropdown-menu">
                        <li class="item-subscription">
                            <button class=" hasIcon" type="button" title="Follow">
                                <i class="icon fa fa-fw fa-star Button-icon"></i>
                                <span class="Button-label">Follow</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic">
                    <i class="icon fa fa-fw fa-check "></i>
                </a>
                <div class="DiscussionListItem-content Slidable-content unread">
                    <a href="/u/luceos" class="DiscussionListItem-author" title="" data-original-title="luceos started Dec '15">
                        <img class="Avatar " src="https://discuss.flarum.org/assets/avatars/tfhe6wsti8jtsjet.jpg">
                    </a>
                    <ul class="DiscussionListItem-badges badges">
                        <li class="item-sticky">
                            <span class="Badge Badge--sticky " title="" data-original-title="Sticky">
                                <i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i>
                            </span>
                        </li>
                        <li class="item-locked">
                            <span class="Badge Badge--locked " title="" data-original-title="Locked">
                                <i class="icon fa fa-fw fa-lock Badge-icon"></i>
                            </span>
                        </li>
                    </ul>
                    <a routerLink="../../discussion" class="DiscussionListItem-main">
                        <h3 class="DiscussionListItem-title">Extension developer - first read</h3>
                        <ul class="DiscussionListItem-info">
                            <li class="item-tags">
                                <span class="TagsLabel ">
                                    <span class="TagLabel  colored" style="color: rgb(65, 65, 65); background-color: rgb(65, 65, 65);">
                                        <span class="TagLabel-text">Dev</span>
                                    </span>
                                </span>
                            </li>
                            <li class="item-terminalPost">
                                <span>
                                    <i class="icon fa fa-fw fa-reply "></i>
                                    <span class="username">luceos</span> replied
                                    <time pubdate="true" datetime="2017-04-17T03:22:55+08:00" title="Monday, April 17, 2017 3:22 AM" data-humantime="true">17 hours ago</time>
                                </span>
                            </li>
                            <li class="item-excerpt">
                                <span>If you are or want to become a Flarum extension developer, you might want to read up on the several resources and tutorials related to Extension development: Building extensions documentation Extensio...</span>
                            </li>
                        </ul>
                    </a>
                    <span class="DiscussionListItem-count" title="Mark as Read">23</span>
                </div>
            </div>
        </li>
        <li data-id="1662">
            <div class="DiscussionListItem">
                <div class="ButtonGroup Dropdown dropdown DiscussionListItem-controls itemCount1">
                    <button class="Dropdown-toggle Button Button--icon Button--flat Slidable-underneath Slidable-underneath--right" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon fa fa-fw fa-ellipsis-v Button-icon"></i>
                        <span class="Button-label"></span>
                        <i class="icon fa fa-fw fa-caret-down Button-caret"></i>
                    </button>
                    <ul class="Dropdown-menu dropdown-menu">
                        <li class="item-subscription">
                            <button class=" hasIcon" type="button" title="Follow">
                                <i class="icon fa fa-fw fa-star Button-icon"></i>
                                <span class="Button-label">Follow</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic">
                    <i class="icon fa fa-fw fa-check "></i>
                </a>
                <div class="DiscussionListItem-content Slidable-content unread">
                    <a href="/u/luceos" class="DiscussionListItem-author" title="" data-original-title="luceos started Dec '15">
                        <img class="Avatar " src="https://discuss.flarum.org/assets/avatars/tfhe6wsti8jtsjet.jpg">
                    </a>
                    <ul class="DiscussionListItem-badges badges">
                        <li class="item-sticky">
                            <span class="Badge Badge--sticky " title="" data-original-title="Sticky">
                                <i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i>
                            </span>
                        </li>
                        <li class="item-locked">
                            <span class="Badge Badge--locked " title="" data-original-title="Locked">
                                <i class="icon fa fa-fw fa-lock Badge-icon"></i>
                            </span>
                        </li>
                    </ul>
                    <a routerLink="../../discussion" class="DiscussionListItem-main">
                        <h3 class="DiscussionListItem-title">Extension developer - first read</h3>
                        <ul class="DiscussionListItem-info">
                            <li class="item-tags">
                                <span class="TagsLabel ">
                                    <span class="TagLabel  colored" style="color: rgb(65, 65, 65); background-color: rgb(65, 65, 65);">
                                        <span class="TagLabel-text">Dev</span>
                                    </span>
                                </span>
                            </li>
                            <li class="item-terminalPost">
                                <span>
                                    <i class="icon fa fa-fw fa-reply "></i>
                                    <span class="username">luceos</span> replied
                                    <time pubdate="true" datetime="2017-04-17T03:22:55+08:00" title="Monday, April 17, 2017 3:22 AM" data-humantime="true">17 hours ago</time>
                                </span>
                            </li>
                            <li class="item-excerpt">
                                <span>If you are or want to become a Flarum extension developer, you might want to read up on the several resources and tutorials related to Extension development: Building extensions documentation Extensio...</span>
                            </li>
                        </ul>
                    </a>
                    <span class="DiscussionListItem-count" title="Mark as Read">23</span>
                </div>
            </div>
        </li>
        <li data-id="1662">
            <div class="DiscussionListItem">
                <div class="ButtonGroup Dropdown dropdown DiscussionListItem-controls itemCount1">
                    <button class="Dropdown-toggle Button Button--icon Button--flat Slidable-underneath Slidable-underneath--right" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon fa fa-fw fa-ellipsis-v Button-icon"></i>
                        <span class="Button-label"></span>
                        <i class="icon fa fa-fw fa-caret-down Button-caret"></i>
                    </button>
                    <ul class="Dropdown-menu dropdown-menu">
                        <li class="item-subscription">
                            <button class=" hasIcon" type="button" title="Follow">
                                <i class="icon fa fa-fw fa-star Button-icon"></i>
                                <span class="Button-label">Follow</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic">
                    <i class="icon fa fa-fw fa-check "></i>
                </a>
                <div class="DiscussionListItem-content Slidable-content unread">
                    <a href="/u/luceos" class="DiscussionListItem-author" title="" data-original-title="luceos started Dec '15">
                        <img class="Avatar " src="https://discuss.flarum.org/assets/avatars/tfhe6wsti8jtsjet.jpg">
                    </a>
                    <ul class="DiscussionListItem-badges badges">
                        <li class="item-sticky">
                            <span class="Badge Badge--sticky " title="" data-original-title="Sticky">
                                <i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i>
                            </span>
                        </li>
                        <li class="item-locked">
                            <span class="Badge Badge--locked " title="" data-original-title="Locked">
                                <i class="icon fa fa-fw fa-lock Badge-icon"></i>
                            </span>
                        </li>
                    </ul>
                    <a routerLink="../../discussion" class="DiscussionListItem-main">
                        <h3 class="DiscussionListItem-title">Extension developer - first read</h3>
                        <ul class="DiscussionListItem-info">
                            <li class="item-tags">
                                <span class="TagsLabel ">
                                    <span class="TagLabel  colored" style="color: rgb(65, 65, 65); background-color: rgb(65, 65, 65);">
                                        <span class="TagLabel-text">Dev</span>
                                    </span>
                                </span>
                            </li>
                            <li class="item-terminalPost">
                                <span>
                                    <i class="icon fa fa-fw fa-reply "></i>
                                    <span class="username">luceos</span> replied
                                    <time pubdate="true" datetime="2017-04-17T03:22:55+08:00" title="Monday, April 17, 2017 3:22 AM" data-humantime="true">17 hours ago</time>
                                </span>
                            </li>
                            <li class="item-excerpt">
                                <span>If you are or want to become a Flarum extension developer, you might want to read up on the several resources and tutorials related to Extension development: Building extensions documentation Extensio...</span>
                            </li>
                        </ul>
                    </a>
                    <span class="DiscussionListItem-count" title="Mark as Read">23</span>
                </div>
            </div>
        </li>
        <li data-id="1662">
            <div class="DiscussionListItem">
                <div class="ButtonGroup Dropdown dropdown DiscussionListItem-controls itemCount1">
                    <button class="Dropdown-toggle Button Button--icon Button--flat Slidable-underneath Slidable-underneath--right" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon fa fa-fw fa-ellipsis-v Button-icon"></i>
                        <span class="Button-label"></span>
                        <i class="icon fa fa-fw fa-caret-down Button-caret"></i>
                    </button>
                    <ul class="Dropdown-menu dropdown-menu">
                        <li class="item-subscription">
                            <button class=" hasIcon" type="button" title="Follow">
                                <i class="icon fa fa-fw fa-star Button-icon"></i>
                                <span class="Button-label">Follow</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic">
                    <i class="icon fa fa-fw fa-check "></i>
                </a>
                <div class="DiscussionListItem-content Slidable-content unread">
                    <a href="/u/luceos" class="DiscussionListItem-author" title="" data-original-title="luceos started Dec '15">
                        <img class="Avatar " src="https://discuss.flarum.org/assets/avatars/tfhe6wsti8jtsjet.jpg">
                    </a>
                    <ul class="DiscussionListItem-badges badges">
                        <li class="item-sticky">
                            <span class="Badge Badge--sticky " title="" data-original-title="Sticky">
                                <i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i>
                            </span>
                        </li>
                        <li class="item-locked">
                            <span class="Badge Badge--locked " title="" data-original-title="Locked">
                                <i class="icon fa fa-fw fa-lock Badge-icon"></i>
                            </span>
                        </li>
                    </ul>
                    <a routerLink="../../discussion" class="DiscussionListItem-main">
                        <h3 class="DiscussionListItem-title">Extension developer - first read</h3>
                        <ul class="DiscussionListItem-info">
                            <li class="item-tags">
                                <span class="TagsLabel ">
                                    <span class="TagLabel  colored" style="color: rgb(65, 65, 65); background-color: rgb(65, 65, 65);">
                                        <span class="TagLabel-text">Dev</span>
                                    </span>
                                </span>
                            </li>
                            <li class="item-terminalPost">
                                <span>
                                    <i class="icon fa fa-fw fa-reply "></i>
                                    <span class="username">luceos</span> replied
                                    <time pubdate="true" datetime="2017-04-17T03:22:55+08:00" title="Monday, April 17, 2017 3:22 AM" data-humantime="true">17 hours ago</time>
                                </span>
                            </li>
                            <li class="item-excerpt">
                                <span>If you are or want to become a Flarum extension developer, you might want to read up on the several resources and tutorials related to Extension development: Building extensions documentation Extensio...</span>
                            </li>
                        </ul>
                    </a>
                    <span class="DiscussionListItem-count" title="Mark as Read">23</span>
                </div>
            </div>
        </li>
        <li data-id="1662">
            <div class="DiscussionListItem">
                <div class="ButtonGroup Dropdown dropdown DiscussionListItem-controls itemCount1">
                    <button class="Dropdown-toggle Button Button--icon Button--flat Slidable-underneath Slidable-underneath--right" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon fa fa-fw fa-ellipsis-v Button-icon"></i>
                        <span class="Button-label"></span>
                        <i class="icon fa fa-fw fa-caret-down Button-caret"></i>
                    </button>
                    <ul class="Dropdown-menu dropdown-menu">
                        <li class="item-subscription">
                            <button class=" hasIcon" type="button" title="Follow">
                                <i class="icon fa fa-fw fa-star Button-icon"></i>
                                <span class="Button-label">Follow</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic">
                    <i class="icon fa fa-fw fa-check "></i>
                </a>
                <div class="DiscussionListItem-content Slidable-content unread">
                    <a href="/u/luceos" class="DiscussionListItem-author" title="" data-original-title="luceos started Dec '15">
                        <img class="Avatar " src="https://discuss.flarum.org/assets/avatars/tfhe6wsti8jtsjet.jpg">
                    </a>
                    <ul class="DiscussionListItem-badges badges">
                        <li class="item-sticky">
                            <span class="Badge Badge--sticky " title="" data-original-title="Sticky">
                                <i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i>
                            </span>
                        </li>
                        <li class="item-locked">
                            <span class="Badge Badge--locked " title="" data-original-title="Locked">
                                <i class="icon fa fa-fw fa-lock Badge-icon"></i>
                            </span>
                        </li>
                    </ul>
                    <a routerLink="../../discussion" class="DiscussionListItem-main">
                        <h3 class="DiscussionListItem-title">Extension developer - first read</h3>
                        <ul class="DiscussionListItem-info">
                            <li class="item-tags">
                                <span class="TagsLabel ">
                                    <span class="TagLabel  colored" style="color: rgb(65, 65, 65); background-color: rgb(65, 65, 65);">
                                        <span class="TagLabel-text">Dev</span>
                                    </span>
                                </span>
                            </li>
                            <li class="item-terminalPost">
                                <span>
                                    <i class="icon fa fa-fw fa-reply "></i>
                                    <span class="username">luceos</span> replied
                                    <time pubdate="true" datetime="2017-04-17T03:22:55+08:00" title="Monday, April 17, 2017 3:22 AM" data-humantime="true">17 hours ago</time>
                                </span>
                            </li>
                            <li class="item-excerpt">
                                <span>If you are or want to become a Flarum extension developer, you might want to read up on the several resources and tutorials related to Extension development: Building extensions documentation Extensio...</span>
                            </li>
                        </ul>
                    </a>
                    <span class="DiscussionListItem-count" title="Mark as Read">23</span>
                </div>
            </div>
        </li>

    </ul>
    <div class="DiscussionList-loadMore">
        <button class="Button" type="button" title="Load More"><span class="Button-label" jhiTranslate="global.refresh.load">Load More</span></button>
    </div>
</div>
