<nav class="IndexPage-nav sideNav">
    <ul>
        <li class="item-newDiscussion App-primaryControl">
            <button class="Button Button--primary IndexPage-newDiscussion hasIcon" itemclassname="App-primaryControl" type="button" title="Start a Discussion" style="background-color: rgb(75, 147, 209);">
                <i class="icon fa fa-fw fa-edit Button-icon"></i>
                <span class="Button-label">Start a Discussion</span>
            </button>
        </li>
        <li class="item-nav">
            <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select itemCount19">
                <button class="Dropdown-toggle Button" data-toggle="dropdown">
                    <span class="Button-label">Support</span>
                    <i class="icon fa fa-fw fa-sort Button-caret"></i>
                </button>
                <ul class="Dropdown-menu dropdown-menu ">
                    <li class="item-allDiscussions">
                        <a href="/" active="false" class="hasIcon" title="All Discussions">
                            <i class="icon fa fa-fw fa-comments-o Button-icon"></i>
                            <span class="Button-label">All Discussions</span>
                        </a>
                    </li>
                    <li class="item-following">
                        <a href="/following" active="false" class="hasIcon" title="Following">
                            <i class="icon fa fa-fw fa-star Button-icon"></i>
                            <span class="Button-label">Following</span>
                        </a>
                    </li>
                    <li class="item-tags">
                        <a routerLink active="false" class="hasIcon" title="Tags">
                            <i class="icon fa fa-fw fa-th-large Button-icon"></i>
                            <span class="Button-label">Tags</span>
                        </a>
                    </li>
                    <li class="Dropdown-separator"></li>
                    <li class="item-tag20">
                        <a class="TagLinkButton hasIcon" href="/t/post-tests-here" style="" title="Test out Flarum in this tag. Discussions in this tag will be deleted every so often.">
                            <span class="icon TagIcon Button-icon" style="background-color: rgb(109, 187, 62);"></span>Dev
                        </a>
                    </li>
                    <li class="item-tag24 active">
                        <a class="TagLinkButton hasIcon " href="/t/support" title="Get help setting up, using, and customising Flarum." style="color: rgb(75, 147, 209);">
                            <span class="icon TagIcon Button-icon" style="background-color: rgb(75, 147, 209);"></span>Support
                        </a>
                    </li>
                    <li class="item-tag25">
                        <a class="TagLinkButton hasIcon child" href="/t/installation" style=""  title="">
                            <span class="icon TagIcon Button-icon"></span>Installation
                        </a>
                    </li>
                    <li class="item-moreTags">
                        <a href="/tags" active="false" class="hasIcon" >
                            <i class="fa fa-telegram fa-comments-o Button-icon" aria-hidden="true"></i>
                            <span class="Button-label">More...</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
