<div class="TagsPage">
    <div class="container">
        <nav class="TagsPage-nav IndexPage-nav sideNav">
            <ul>
                <li class="item-newDiscussion App-primaryControl">
                    <button class="Button Button--primary IndexPage-newDiscussion hasIcon" itemclassname="App-primaryControl" type="button" title="Start a Discussion">
                        <i class="icon fa fa-fw fa-edit Button-icon"></i>
                        <span class="Button-label">Start a Discussion</span>
                    </button>
                </li>
                <li class="item-nav">
                    <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select Dropdown--select itemCount2">
                        <button class="Dropdown-toggle Button" data-toggle="dropdown">
                            <span class="Button-label">Tags</span>
                            <i class="icon fa fa-fw fa-sort Button-caret"></i>
                        </button>
                        <ul class="Dropdown-menu dropdown-menu ">
                            <li class="item-allDiscussions">
                                <a href="/" active="false" class=" hasIcon" title="All Discussions">
                                    <i class="icon fa fa-fw fa-comments-o Button-icon"></i>
                                    <span class="Button-label">All Discussions</span>
                                </a>
                            </li>
                            <li class="item-tags active">
                                <a href="/tags" active="true" class=" hasIcon" title="Tags">
                                    <i class="icon fa fa-fw fa-th-large Button-icon"></i>
                                    <span class="Button-label">Tags</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="TagsPage-content sideNavOffset">
            <ul class="TagTiles">
                <li class="TagTile colored" style="background-color: rgb(75, 147, 209);">
                    <a class="TagTile-info" href="/t/support">
                        <h3 class="TagTile-name">Support</h3>
                        <p class="TagTile-description">Get help setting up, using, and customising Flarum.</p>
                        <div class="TagTile-children">
                            <a href="/t/installation">Installation</a>
                            <a href="/t/upgrading">Upgrading</a>
                            <a href="/t/hosting">Hosting</a>
                        </div>
                    </a>
                    <a class="TagTile-lastDiscussion" href="/d/5606-is-there-a-way-to-create-prviate-discussions/2">
                        <span lass="TagTile-lastDiscussion-title">Is there a way to create prviate discussions?</span>
                        <time pubdate="true" datetime="2017-04-27T11:00:25+08:00" title="Thursday, April 27, 2017 11:00 AM"
                              data-humantime="true">7 hours ago
                        </time>
                    </a>
                </li>
                <li class="TagTile colored" style="background-color: rgb(147, 84, 202);">
                    <a class="TagTile-info" href="/t/feedback">
                        <h3 class="TagTile-name">Feedback</h3>
                        <p class="TagTile-description">
                            For discussing Flarum core features and design. For issues use Support.
                        </p>
                        <div class="TagTile-children">
                            <a href="/t/design">Design</a>
                            <a href="/t/features">Features</a>
                        </div>
                    </a>
                    <a class="TagTile-lastDiscussion" href="/d/5598-http-nutritionless-com-regal-slim">
                        <span class="TagTile-lastDiscussion-title">http://nutritionless.com/regal-slim/</span>
                        <time pubdate="true" datetime="2017-04-26T20:06:50+08:00" title="Wednesday, April 26, 2017 8:06 PM" data-humantime="true">a day ago
                        </time>
                    </a>
                </li>
                <li class="TagTile colored" style="background-color: rgb(72, 191, 131);">
                    <a class="TagTile-info" href="/t/extensions">
                        <h3 class="TagTile-name">Extensions</h3>
                        <p class="TagTile-description">
                            Announce your extensions and provide help to users in this area.
                        </p>
                        <div class="TagTile-children">
                            <a href="/t/abandoned">Abandoned</a>
                            <a href="/t/languages">Languages</a>
                            <a href="/t/themes">Themes</a>
                        </div>
                    </a>
                    <a class="TagTile-lastDiscussion" href="/d/5588-gamification-by-reflar/60">
                        <span class="TagTile-lastDiscussion-title">Gamification by ReFlar</span>
                        <time pubdate="true" datetime="2017-04-27T14:45:45+08:00" title="Thursday, April 27, 2017 2:45 PM" data-humantime="true">3 hours ago
                        </time>
                    </a>
                </li>
                <li class="TagTile colored" style="background-color: rgb(65, 65, 65);">
                    <a class="TagTile-info" href="/t/dev">
                        <h3 class="TagTile-name">Dev</h3>
                        <p class="TagTile-description">
                            For developers. Get help hacking core, building extensions, themes, and translations.
                        </p>
                        <div class="TagTile-children">
                            <a href="/t/extensibility">Extensibility</a>
                            <a href="/t/i18n">i18n</a>
                            <a href="/t/theming">Theming</a>
                        </div>
                    </a>
                    <a class="TagTile-lastDiscussion" href="/d/1663-how-to-allow-access-api-from-localhost/8">
                        <span class="TagTile-lastDiscussion-title">How to allow access API from localhost?</span>
                        <time pubdate="true" datetime="2017-04-25T22:32:10+08:00" title="Tuesday, April 25, 2017 10:32 PM" data-humantime="true">2 days ago
                        </time>
                    </a>
                </li>
                <li class="TagTile colored" style="background-color: rgb(98, 108, 120);">
                    <a class="TagTile-info" href="/t/resources">
                        <h3 class="TagTile-name">Resources</h3>
                        <p class="TagTile-description">
                            Share Flarum-related resources and services here: hosting, jobs, etc.
                        </p>
                        <div class="TagTile-children">
                            <a href="/t/faq">FAQ</a>
                            <a href="/t/tutorials">Tutorials</a>
                            <a href="/t/utilities">Utilities</a>
                        </div>
                    </a>
                    <a class="TagTile-lastDiscussion" href="/d/5256-i-will-make-any-extension/99">
                        <span class="TagTile-lastDiscussion-title">I will make any extension</span>
                        <time pubdate="true" datetime="2017-04-27T17:51:57+08:00" title="Thursday, April 27, 2017 5:51 PM" data-humantime="true">15 minutes ago
                        </time>
                    </a>
                </li>
            </ul>
            <div class="TagCloud">
                <a class="TagLabel  colored" title="Solved issues." href="/t/solved" style="color: rgb(109, 187, 62); background-color: rgb(109, 187, 62);">
                    <span class="TagLabel-text">Solved</span>
                </a>
                <a class="TagLabel " title="" href="/t/performance">
                    <span class="TagLabel-text">Performance</span>
                </a>
                <a class="TagLabel " title="" href="/t/duplicate">
                    <span class="TagLabel-text">Duplicate</span>
                </a>
                <a class="TagLabel" title="Extensions for other software, like browsers or wordpress." href="/t/integrations">
                    <span class="TagLabel-text">Integrations</span>
                </a>
                <a class="TagLabel " title="" href="/t/security"><span class="TagLabel-text">Security</span></a>
                <a class="TagLabel " title="" href="/t/reported"><span class="TagLabel-text">Reported</span></a>
                <a class="TagLabel " title="" href="/t/document"><span class="TagLabel-text">Document</span></a>
                <a class="TagLabel " title="" href="/t/rfc"><span class="TagLabel-text">RFC</span></a></div>
        </div>
    </div>
</div>
