<div id="modal">
    <div class="ModalManager modal fade in" style="display: block;">
        <div class="Modal modal-dialog TagDiscussionModal">
            <div class="Modal-content">
                <div class="Modal-close App-backControl">
                    <button class="Button Button--icon Button--link hasIcon" type="button"><i class="icon fa fa-fw fa-times Button-icon"></i></button>
                </div>
                <form>
                    <div class="Modal-header"><h3 class="App-titleControl App-titleControl--text">Choose Tags for Your Discussion</h3></div>
                    <div class="Modal-alert"></div>
                    <div class="Modal-body">
                        <div class="TagDiscussionModal-form">
                            <div class="TagDiscussionModal-form-input">
                                <div class="TagsInput FormControl "><span class="TagsInput-selected"><span class="TagsInput-tag"><span class="TagLabel  colored"
                                                                                                                                       style="color: rgb(72, 191, 131); background-color: rgb(72, 191, 131);"><span
                                    class="TagLabel-text">Extensions</span></span></span><span class="TagsInput-tag"><span class="TagLabel "><span
                                    class="TagLabel-text">Abandoned</span></span></span><span class="TagsInput-tag"><span class="TagLabel "><span class="TagLabel-text">Performance</span></span></span></span><input
                                    class="FormControl" placeholder=""></div>
                            </div>
                            <div class="TagDiscussionModal-form-submit App-primaryControl">
                                <button type="submit" class="Button Button--primary hasIcon" title="OK"><i class="icon fa fa-fw fa-check Button-icon"></i><span class="Button-label">OK</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="Modal-footer">
                        <ul class="TagDiscussionModal-list SelectTagList">
                            <li data-index="48" class="pinned colored selected" style="color: rgb(72, 191, 131);"><span class="icon TagIcon " style="background-color: rgb(72, 191, 131);"></span><span
                                class="SelectTagListItem-name">Extensions</span><span class="SelectTagListItem-description">Announce your extensions and provide help to users in this area. For requests/ideas, post in Feedback. For help building extensions, post in Dev &gt; Extensibility.</span>
                            </li>
                            <li data-index="65" class="pinned child selected"><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Abandoned</span></li>
                            <li data-index="49" class="pinned child"><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Languages</span></li>
                            <li data-index="72" class="pinned child"><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Themes</span></li>
                            <li data-index="19" class="selected"><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Performance</span></li>
                            <li data-index="57" class="active"><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Integrations</span><span class="SelectTagListItem-description">Extensions for other software, like browsers or wordpress.</span>
                            </li>
                            <li data-index="70" class=""><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Duplicate</span></li>
                            <li data-index="45" class=""><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Security</span></li>
                            <li data-index="73" class=""><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Reported</span></li>
                            <li data-index="71" class=""><span class="icon TagIcon "></span><span class="SelectTagListItem-name">Document</span></li>
                            <li data-index="76" class=""><span class="icon TagIcon "></span><span class="SelectTagListItem-name">RFC</span></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
