
<div *ngIf="scSettings">
    <h2><span jhiTranslate="cocoApp.scSettings.detail.title">Sc Settings</span> {{scSettings.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cocoApp.scSettings.key">Key</span></dt>
        <dd>
            <span>{{scSettings.key}}</span>
        </dd>
        <dt><span jhiTranslate="cocoApp.scSettings.value">Value</span></dt>
        <dd>
            <span>{{scSettings.value}}</span>
        </dd>
        <dt><span jhiTranslate="cocoApp.scSettings.user">User</span></dt>
        <dd>
            {{scSettings.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sc-settings/'+ scSettings.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
