.contentpanel {
    padding: 20px;
    position: relative;
}

.contentpanel::after {
    clear: both;
    display: block;
    content: '';
}

.img-region {
    height: 200px;
    width: 200px;
}

.subtitle {
    font-size: 14px;
    text-transform: uppercase;
}

.profile-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-social-list li {
    border-bottom: 1px solid #ddd;
    padding: 7px 0;
}

.profile-social-list li .fa {
    margin-right: 10px;
    width: 16px;
}

.profile-header {
    margin-bottom: 30px;
}

.profile-header .btn .fa {
    margin-right: 7px;
}

.profile-location,
.profile-position {
    font-size: 14px;
    margin-bottom: 4px;
}

.profile-location .fa,
.profile-position .fa {
    width: 16px;
    margin-right: 10px;
    text-align: center;
}

.btn-success {
    margin-top: 10px;
    background-color: #1CAF9A;
    border-color: #17a08c;
}

.btn-white {
    margin-top: 10px;
    background-color: #fff;
    border-color: #ccc;
}

.settings {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.mb20 {
    margin-bottom: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

a, p, h2, div, li, button {
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', 'KaiTi', Helvetica, sans-serif;
}

a, span {
    color: #428bca;
}
