<main class="App-content">
    <div id="content">
        <div class="UserPage">
            <div class="UserCard Hero UserHero" style="background-color: rgb(234, 233, 234);">
                <div class="darkenBackground">
                    <div class="container">
                        <div class="UserCard-profile">
                            <h2 class="UserCard-identity">
                                <div class="AvatarEditor Dropdown UserCard-avatar"><img class="Avatar "
                                                                                        src="https://discuss.flarum.org/assets/avatars/x3vijivzovpylaar.jpg"><a
                                    class="Dropdown-toggle" title="Upload a new avatar" data-toggle="dropdown"><i
                                    class="icon fa fa-fw fa-pencil "></i></a>
                                    <ul class="Dropdown-menu Menu">
                                        <li class="item-upload">
                                            <button class=" hasIcon" type="button" title="Upload"><i
                                                class="icon fa fa-fw fa-upload Button-icon"></i><span
                                                class="Button-label">Upload</span></button>
                                        </li>
                                        <li class="item-remove">
                                            <button class=" hasIcon" type="button" title="Remove"><i
                                                class="icon fa fa-fw fa-times Button-icon"></i><span
                                                class="Button-label">Remove</span></button>
                                        </li>
                                    </ul>
                                </div>
                                <span class="username">Feel_7</span></h2>
                            <ul class="UserCard-info">
                                <li class="item-bio">
                                    <div class="UserBio editable">
                                        <div class="UserBio-content"><p>come and go</p></div>
                                    </div>
                                </li>
                                <li class="item-lastSeen"><span class="UserCard-lastSeen online"><i
                                    class="icon fa fa-fw fa-circle "></i> Online</span></li>
                                <li class="item-joined">Joined Oct '16</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="sideNav UserPage-nav">
                    <ul class="affix-top">
                        <li class="item-nav">
                            <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select itemCount5">
                                <button class="Dropdown-toggle Button" data-toggle="dropdown"><span
                                    class="Button-label">Posts</span><i class="icon fa fa-fw fa-sort Button-caret"></i>
                                </button>
                                <ul class="Dropdown-menu dropdown-menu ">
                                    <li class="item-posts active"><a href="/u/Feel_7" active="true" class=" hasIcon"
                                                                     type="button" title="Posts3"><i
                                        class="icon fa fa-fw fa-comment-o Button-icon"></i><span class="Button-label">Posts<span
                                        class="Button-badge">3</span></span></a></li>
                                    <li class="item-discussions"><a href="/u/Feel_7/discussions" active="false"
                                                                    class=" hasIcon" type="button" title="Discussions2"><i
                                        class="icon fa fa-fw fa-reorder Button-icon"></i><span class="Button-label">Discussions<span
                                        class="Button-badge">2</span></span></a></li>
                                    <li class="item-mentions"><a href="/u/Feel_7/mentions" name="mentions"
                                                                 active="false" class=" hasIcon" type="button"
                                                                 title="Mentions"><i
                                        class="icon fa fa-fw fa-at Button-icon"></i><span
                                        class="Button-label">Mentions</span></a></li>
                                    <li class="Dropdown-separator"></li>
                                    <li class="item-settings"><a href="/settings" active="false" class=" hasIcon"
                                                                 type="button" title="Settings"><i
                                        class="icon fa fa-fw fa-cog Button-icon"></i><span
                                        class="Button-label">Settings</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="sideNavOffset UserPage-content">
                    <div class="PostsUserPage">
                        <ul class="PostsUserPage-list">
                            <li>
                                <div class="PostsUserPage-discussion">In <a href="/d/5518-now-test">NOW TEST</a></div>
                                <article class="Post undefined CommentPost">
                                    <div>
                                        <header class="Post-header">
                                            <ul>
                                                <li class="item-user">
                                                    <div class="PostUser"><span class="UserOnline"><i
                                                        class="icon fa fa-fw fa-circle "></i></span>
                                                        <h3><a href="/u/Feel_7"><img class="Avatar PostUser-avatar"
                                                                                     src="https://discuss.flarum.org/assets/avatars/x3vijivzovpylaar.jpg">
                                                            <span class="username">Feel_7</span></a></h3>
                                                        <ul class="PostUser-badges badges"></ul>
                                                    </div>
                                                </li>
                                                <li class="item-meta">
                                                    <div class="Dropdown PostMeta"><a class="Dropdown-toggle"
                                                                                      data-toggle="dropdown">
                                                        <time pubdate="true" datetime="2017-04-18T01:31:21+08:00"
                                                              title="Tuesday, April 18, 2017 1:31 AM"
                                                              data-humantime="true">14 days ago
                                                        </time>
                                                    </a>
                                                        <div class="Dropdown-menu dropdown-menu"><span
                                                            class="PostMeta-number">Post #1</span> <span
                                                            class="PostMeta-time"><time pubdate="true"
                                                                                        datetime="2017-04-18T01:31:21+08:00">Tuesday, April 18, 2017 1:31 AM</time></span>
                                                            <span class="PostMeta-ip"></span><input
                                                                class="FormControl PostMeta-permalink"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </header>
                                        <div class="Post-body"><p>test something</p></div>
                                        <aside class="Post-actions">
                                            <ul>
                                                <li class="item-like">
                                                    <button class="Button Button--link" type="button" title="Like"><span
                                                        class="Button-label">Like</span></button>
                                                </li>
                                                <li class="item-reply">
                                                    <button class="Button Button--link" type="button" title="Reply">
                                                        <span class="Button-label">Reply</span></button>
                                                </li>
                                                <li>
                                                    <div class="ButtonGroup Dropdown dropdown Post-controls itemCount3">
                                                        <button class="Dropdown-toggle Button Button--icon Button--flat"
                                                                data-toggle="dropdown"><i
                                                            class="icon fa fa-fw fa-ellipsis-h Button-icon"></i><span
                                                            class="Button-label"></span><i
                                                            class="icon fa fa-fw fa-caret-down Button-caret"></i>
                                                        </button>
                                                        <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right">
                                                            <li class="item-edit">
                                                                <button class=" hasIcon" type="button" title="Edit"><i
                                                                    class="icon fa fa-fw fa-pencil Button-icon"></i><span
                                                                    class="Button-label">Edit</span></button>
                                                            </li>
                                                            <li class="Dropdown-separator"></li>
                                                            <li class="item-hide">
                                                                <button class=" hasIcon" type="button" title="Delete"><i
                                                                    class="icon fa fa-fw fa-trash-o Button-icon"></i><span
                                                                    class="Button-label">Delete</span></button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </aside>
                                        <footer class="Post-footer">
                                            <ul></ul>
                                        </footer>
                                    </div>
                                </article>
                                <div class="Post-quoteButtonContainer"></div>
                            </li>
                            <li>
                                <div class="PostsUserPage-discussion">In <a href="/d/3950-testing-what-is-it">Testing
                                    What is it</a></div>
                                <article class="Post undefined CommentPost">
                                    <div>
                                        <header class="Post-header">
                                            <ul>
                                                <li class="item-user">
                                                    <div class="PostUser"><span class="UserOnline"><i
                                                        class="icon fa fa-fw fa-circle "></i></span>
                                                        <h3><a href="/u/Feel_7"><img class="Avatar PostUser-avatar"
                                                                                     src="https://discuss.flarum.org/assets/avatars/x3vijivzovpylaar.jpg">
                                                            <span class="username">Feel_7</span></a></h3>
                                                        <ul class="PostUser-badges badges"></ul>
                                                    </div>
                                                </li>
                                                <li class="item-meta">
                                                    <div class="Dropdown PostMeta"><a class="Dropdown-toggle"
                                                                                      data-toggle="dropdown">
                                                        <time pubdate="true" datetime="2016-10-11T17:19:15+08:00"
                                                              title="Tuesday, October 11, 2016 5:19 PM"
                                                              data-humantime="true">Oct '16
                                                        </time>
                                                    </a>
                                                        <div class="Dropdown-menu dropdown-menu"><span
                                                            class="PostMeta-number">Post #1</span> <span
                                                            class="PostMeta-time"><time pubdate="true"
                                                                                        datetime="2016-10-11T17:19:15+08:00">Tuesday, October 11, 2016 5:19 PM</time></span>
                                                            <span class="PostMeta-ip"></span><input
                                                                class="FormControl PostMeta-permalink"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </header>
                                        <div class="Post-body"><p>Testing</p></div>
                                        <aside class="Post-actions">
                                            <ul>
                                                <li class="item-like">
                                                    <button class="Button Button--link" type="button" title="Like"><span
                                                        class="Button-label">Like</span></button>
                                                </li>
                                                <li class="item-reply">
                                                    <button class="Button Button--link" type="button" title="Reply">
                                                        <span class="Button-label">Reply</span></button>
                                                </li>
                                                <li>
                                                    <div class="ButtonGroup Dropdown dropdown Post-controls itemCount3">
                                                        <button class="Dropdown-toggle Button Button--icon Button--flat"
                                                                data-toggle="dropdown"><i
                                                            class="icon fa fa-fw fa-ellipsis-h Button-icon"></i><span
                                                            class="Button-label"></span><i
                                                            class="icon fa fa-fw fa-caret-down Button-caret"></i>
                                                        </button>
                                                        <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right">
                                                            <li class="item-edit">
                                                                <button class=" hasIcon" type="button" title="Edit"><i
                                                                    class="icon fa fa-fw fa-pencil Button-icon"></i><span
                                                                    class="Button-label">Edit</span></button>
                                                            </li>
                                                            <li class="Dropdown-separator"></li>
                                                            <li class="item-hide">
                                                                <button class=" hasIcon" type="button" title="Delete"><i
                                                                    class="icon fa fa-fw fa-trash-o Button-icon"></i><span
                                                                    class="Button-label">Delete</span></button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </aside>
                                        <footer class="Post-footer">
                                            <ul></ul>
                                        </footer>
                                    </div>
                                </article>
                                <div class="Post-quoteButtonContainer"></div>
                            </li>
                            <li>
                                <div class="PostsUserPage-discussion">In <a
                                    href="/d/3807-community-update-september-2016/15">Community Update - September
                                    2016</a></div>
                                <article class="Post undefined CommentPost">
                                    <div>
                                        <header class="Post-header">
                                            <ul>
                                                <li class="item-user">
                                                    <div class="PostUser"><span class="UserOnline"><i
                                                        class="icon fa fa-fw fa-circle "></i></span>
                                                        <h3><a href="/u/Feel_7"><img class="Avatar PostUser-avatar"
                                                                                     src="https://discuss.flarum.org/assets/avatars/x3vijivzovpylaar.jpg">
                                                            <span class="username">Feel_7</span></a></h3>
                                                        <ul class="PostUser-badges badges"></ul>
                                                    </div>
                                                </li>
                                                <li class="item-meta">
                                                    <div class="Dropdown PostMeta"><a class="Dropdown-toggle"
                                                                                      data-toggle="dropdown">
                                                        <time pubdate="true" datetime="2016-10-11T15:37:56+08:00"
                                                              title="Tuesday, October 11, 2016 3:37 PM"
                                                              data-humantime="true">Oct '16
                                                        </time>
                                                    </a>
                                                        <div class="Dropdown-menu dropdown-menu"><span
                                                            class="PostMeta-number">Post #15</span> <span
                                                            class="PostMeta-time"><time pubdate="true"
                                                                                        datetime="2016-10-11T15:37:56+08:00">Tuesday, October 11, 2016 3:37 PM</time></span>
                                                            <span class="PostMeta-ip"></span><input
                                                                class="FormControl PostMeta-permalink"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </header>
                                        <div class="Post-body"><p>Nice Work!</p></div>
                                        <aside class="Post-actions">
                                            <ul>
                                                <li class="item-like">
                                                    <button class="Button Button--link" type="button" title="Like"><span
                                                        class="Button-label">Like</span></button>
                                                </li>
                                                <li class="item-reply">
                                                    <button class="Button Button--link" type="button" title="Reply">
                                                        <span class="Button-label">Reply</span></button>
                                                </li>
                                                <li>
                                                    <div class="ButtonGroup Dropdown dropdown Post-controls itemCount3">
                                                        <button class="Dropdown-toggle Button Button--icon Button--flat"
                                                                data-toggle="dropdown"><i
                                                            class="icon fa fa-fw fa-ellipsis-h Button-icon"></i><span
                                                            class="Button-label"></span><i
                                                            class="icon fa fa-fw fa-caret-down Button-caret"></i>
                                                        </button>
                                                        <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right">
                                                            <li class="item-edit">
                                                                <button class=" hasIcon" type="button" title="Edit"><i
                                                                    class="icon fa fa-fw fa-pencil Button-icon"></i><span
                                                                    class="Button-label">Edit</span></button>
                                                            </li>
                                                            <li class="Dropdown-separator"></li>
                                                            <li class="item-hide">
                                                                <button class=" hasIcon" type="button" title="Delete"><i
                                                                    class="icon fa fa-fw fa-trash-o Button-icon"></i><span
                                                                    class="Button-label">Delete</span></button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </aside>
                                        <footer class="Post-footer">
                                            <ul></ul>
                                        </footer>
                                    </div>
                                </article>
                                <div class="Post-quoteButtonContainer"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="App-composer">
        <div class="container">
            <div id="composer">
                <div class="Composer " style="display: none; bottom: -300px; height: 300px;">
                    <div class="Composer-handle" style="cursor: row-resize;"></div>
                    <ul class="Composer-controls">
                        <li class="item-minimize App-backControl">
                            <button title="Minimize" itemclassname="App-backControl"
                                    class="Button Button--icon Button--link hasIcon" type="button"><i
                                class="icon fa fa-fw fa-minus minimize Button-icon"></i></button>
                        </li>
                        <li class="item-fullScreen">
                            <button title="Full Screen" class="Button Button--icon Button--link hasIcon" type="button">
                                <i class="icon fa fa-fw fa-expand Button-icon"></i></button>
                        </li>
                        <li class="item-close">
                            <button title="Close" class="Button Button--icon Button--link hasIcon" type="button"><i
                                class="icon fa fa-fw fa-times Button-icon"></i></button>
                        </li>
                    </ul>
                    <div class="Composer-content"></div>
                </div>
            </div>
        </div>
    </div>
</main>
