<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your request cannot be processed</title>
</head>
<body>
<div class="container">
    <h1 th:text="#{error.title}">Your request cannot be processed <span>:(</span></h1>

    <p th:text="#{error.subtitle}">Sorry, an error has occurred.</p>

    <span th:text="#{error.status}">Status:</span>&nbsp;<span th:text="${error}"></span>&nbsp;(<span th:text="${error}"></span>)<br/>
    <span th:if="${!#strings.isEmpty(message)}">
        <span th:text="#{error.message}">Message:</span>&nbsp;<span th:text="${message}"></span><br/>
    </span>

</div>
</body>
</html>
