<div id="drawer" class="App-drawer">
    <header id="header" class="App-header">
        <div id="header-navigation" class="Header-navigation"><div class="Navigation ButtonGroup "></div></div>
        <div class="container">
            <h1 class="Header-title">
                <a href="#" id="home-link">
                    <img src="../../../content/images/logo.jpg" alt="" height="27">
                </a>
            </h1>
            <div class="Header-primary">
                <ul class="Header-controls">
                    <li><a href="#" class="Button Button--link">Home</a></li>
                    <li><a href="#" class="Button Button--link">Guidelines</a></li>
                    <li><a href="#" class="Button Button--link">FAQ</a></li>
                </ul>
                <div id="header-primary"><ul class="Header-controls"></ul></div>
            </div>
            <div id="header-secondary" class="Header-secondary">
                <ul class="Header-controls" [ngSwitch]="isAuthenticated()">
                    <li class="item-search">
                        <div class="Search ">
                            <div class="Search-input">
                                <input class="FormControl" type="search" placeholder="Search Forum">
                            </div>
                            <ul class="Dropdown-menu Search-results"></ul>
                        </div>
                    </li>
                    <li class="item-notifications">
                        <div class="ButtonGroup Dropdown dropdown NotificationsDropdown itemCount0">
                            <button class="Dropdown-toggle Button Button--flat" data-toggle="dropdown" title="Notifications" aria-expanded="true">
                                <i class="icon fa fa-fw fa-bell Button-icon"></i>
                                <span class="Button-label">Notifications</span>
                            </button>
                            <!--<div class="Dropdown-menu Dropdown-menu&#45;&#45;right">-->
                                <!--<div class="NotificationList">-->
                                    <!--<div class="NotificationList-header">-->
                                        <!--<div class="App-primaryControl">-->
                                            <!--<button class="Button Button&#45;&#45;icon Button&#45;&#45;link hasIcon" title="Mark All as Read" type="button">-->
                                                <!--<i class="icon fa fa-fw fa-check Button-icon"></i>-->
                                            <!--</button>-->
                                        <!--</div>-->
                                        <!--<h4 class="App-titleControl App-titleControl&#45;&#45;text">Notifications</h4>-->
                                    <!--</div>-->
                                    <!--<div class="NotificationList-content">-->
                                        <!--<div class="NotificationGroup">-->
                                            <!--<a class="NotificationGroup-header" href="/d/3950-testing-what-is-it">Testing What is it</a>-->
                                            <!--<ul class="NotificationGroup-content">-->
                                                <!--<li>-->
                                                    <!--<a class="Notification Notification&#45;&#45;postMentioned " href="/d/3950-testing-what-is-it/2">-->
                                                        <!--<img class="Avatar " src="https://discuss.flarum.org/assets/avatars/iyoyqwdfcqm1hvzf.jpg">-->
                                                        <!--<i class="icon fa fa-fw fa-reply Notification-icon"></i>-->
                                                        <!--<span class="Notification-content">-->
                                                            <!--<span class="username">Satyajit</span>-->
                                                            <!--replied to your post-->
                                                        <!--</span>-->
                                                        <!--<time pubdate="true" datetime="2016-10-11T17:20:36+08:00" title="Tuesday, October 11, 2016 5:20 PM" data-humantime="true">Oct '16</time>-->
                                                        <!--<div class="Notification-excerpt">Testing</div>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </li>
                    <li class="item-session" *ngSwitchCase="true">
                        <div class="ButtonGroup Dropdown dropdown SessionDropdown itemCount4" *ngIf="account" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
                            <ul class="navbar-nav ml-auto">
                                <li ngbDropdown class="nav-item dropdown pointer">
                                    <button ngbDropdownToggle class="Button Button--user Button--flat">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="Button-label"><span class="username"><span jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}">You are logged in as user "{{account.login}}"</span></span></span>
                                    </button>
                                    <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right" ngbDropdownMenu>
                                        <li *ngSwitchCase="true" class="item-profile">
                                            <a class="hasIcon" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                                            </a>
                                        </li>
                                        <li *ngSwitchCase="true" class="item-settings">
                                            <a class="hasIcon" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.password">Password</span>
                                            </a>
                                        </li>
                                        <li class="Dropdown-separator"></li>
                                        <li *ngSwitchCase="true" class="item-logOut">
                                            <a class="hasIcon" (click)="logout()" id="logout">
                                                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                            </a>
                                        </li>
                                        <li *ngSwitchCase="false">
                                            <a class="dropdown-item" (click)="login()" id="login">
                                                <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                                            </a>
                                        </li>
                                        <li *ngSwitchCase="false">
                                            <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-registered" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.register">Register</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item-signUp" *ngSwitchCase="false">
                        <button class="Button Button--link" type="button" title="Sign Up">
                            <span class="Button-label">
                                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                            </span>
                        </button>
                    </li>
                    <li class="item-logIn" *ngSwitchCase="false" (click)="login()">
                        <button class="Button Button--link" type="button" title="Log In">
                            <span class="Button-label">Log In</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>
