<div id="drawer" class="App-drawer">
    <header id="header" class="App-header">
        <div id="header-navigation" class="Header-navigation" *ngIf="showPane">
            <div class="Navigation ButtonGroup">
                <a class="Button Navigation-back hasIcon">
                    <i class="icon fa fa-fw fa-chevron-left Button-icon" routerLink="/" routerLinkActive="true"></i>
                    <span class="Button-label" (mouseover)="paneShowing()">
                        <i class="icon fa fa-fw fa-bars"></i>
                    </span>
                </a>
                <button class="Button Button--icon Navigation-pin hasIcon" (click)="stickyPane()" (mouseleave)="hiddenPane()">
                    <i class="icon fa fa-fw fa-thumb-tack Button-icon"></i>
                </button>
            </div>
        </div>
        <div class="container">
            <h1 class="Header-title">
                <a href="#" id="home-link">
                    <img src="../../../content/images/logo.png" class="img-circle img-height" alt="JHipster中文社区">
                </a>
            </h1>
            <div class="Header-primary">
                <ul class="Header-controls">
                    <li><a href="#" class="Button Button--link" jhiTranslate="global.menu.index.guardians">Guardians</a></li>
                    <li><a href="#" class="Button Button--link" jhiTranslate="global.menu.index.issue">Issue</a></li>
                </ul>
                <div id="header-primary"><ul class="Header-controls"></ul></div>
            </div>
            <div id="header-secondary" class="Header-secondary">
                <ul class="Header-controls" [ngSwitch]="isAuthenticated()">
                    <li>
                        <div #search class="Search">
                            <div class="Search-input">
                                <input class="FormControl" (click)="searchFocused()" (blur)="searchBlur()" placeholder="{{'global.search.hint.placeholder' | translate}}">
                            </div>
                            <ul class="Dropdown-menu Search-results">
                                <li class="Dropdown-header" jhiTranslate="global.search.discussion">Discussions</li>
                                <li class="Dropdown-header" jhiTranslate="global.search.user">Users</li>
                            </ul>
                        </div>
                    </li>
                    <li *ngSwitchCase="true">
                        <div #info class="ButtonGroup Dropdown NotificationsDropdown itemCount">
                            <button class="Dropdown-toggle Button Button--flat" title="消息" aria-expanded="true" (click)="showInfo()" (blur)="hiddenInfo()">
                                <i class="icon fa fa-fw fa-bell Button-icon"></i>
                                <span class="Button-label">Notifications</span>
                            </button>
                            <div class="Dropdown-menu Dropdown-menu--right">
                                <div class="NotificationList">
                                    <div class="NotificationList-header">
                                        <div class="App-primaryControl">
                                            <button class="Button Button--icon Button--link hasIcon" title="Mark All as Read" type="button">
                                                <i class="icon fa fa-fw fa-check Button-icon"></i>
                                            </button>
                                        </div>
                                        <h4 class="App-titleControl App-titleControl--text" jhiTranslate="global.notifications.title">Notifications</h4>
                                    </div>
                                    <div class="NotificationList-content">
                                        <div class="NotificationGroup">
                                            <a class="NotificationGroup-header" href="#">Testing What is it!</a>
                                            <ul class="NotificationGroup-content">
                                                <li>
                                                    <a class="Notification Notification--postMentioned " href="#">
                                                        <img class="Avatar " src="https://discuss.flarum.org/assets/avatars/tfhe6wsti8jtsjet.jpg">
                                                        <i class="icon fa fa-fw fa-reply Notification-icon"></i>
                                                        <span class="Notification-content">
                                                            <span class="username">Say Hi</span>
                                                            <span jhiTranslate="global.notifications.replied">Replied</span>
                                                        </span>
                                                        <time>Oct '16</time>
                                                        <div class="Notification-excerpt">Testing</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li *ngSwitchCase="true">
                        <div class="ButtonGroup Dropdown itemCount" *ngIf="account" [ngbCollapse]="isNavbarCollapsed">
                            <ul class="navbar-nav ml-auto">
                                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer">
                                    <button ngbDropdownToggle class="Button Button--user Button--flat" id="admin-menu">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                                    </button>
                                    <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right" ngbDropdownMenu>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/jhi-tracker" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.health">Health</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.audits">Audits</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="hasIcon" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.logs">Logs</span>
                                            </a>
                                        </li>
                                        <li *ngIf="swaggerEnabled">
                                            <a class="hasIcon" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.apidocs">API</span>
                                            </a>
                                        </li>
                                        <li *ngIf="!inProduction">
                                            <a class="hasIcon" href='/h2-console' target="_tab" (click)="collapseNavbar()">
                                                <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.admin.database">Database</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="ButtonGroup Dropdown itemCount">
                            <ul class="navbar-nav ml-auto">
                                <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                                    <button ngbDropdownToggle class="Button Button--user Button--flat" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <span jhiTranslate="global.menu.language">Language</span>
                                    </button>
                                    <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right" ngbDropdownMenu *ngIf="languages.length > 1">
                                        <li *ngFor="let language of languages">
                                            <a class="dropdown-item hasIcon" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li *ngSwitchCase="true">
                        <div class="ButtonGroup Dropdown itemCount" *ngIf="account" [ngbCollapse]="isNavbarCollapsed">
                            <ul class="navbar-nav ml-auto">
                                <li ngbDropdown class="nav-item dropdown pointer">
                                    <button ngbDropdownToggle class="Button Button--user Button--flat">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="Button-label">
                                            <span jhiTranslate="global.menu.account.main">Account</span>
                                        </span>
                                    </button>
                                    <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right" ngbDropdownMenu>
                                        <li *ngSwitchCase="true" class="item-profile">
                                            <a class="hasIcon" routerLink="/profile" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-address-card" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.profile">Profile</span>
                                            </a>
                                        </li>
                                        <li *ngSwitchCase="true" class="item-settings">
                                            <a class="hasIcon" routerLink="/account/password" routerLinkActive="active" (click)="collapseNavbar()">
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                                            </a>
                                        </li>
                                        <li class="Dropdown-separator"></li>
                                        <li *ngSwitchCase="true" class="item-logOut">
                                            <a class="hasIcon" (click)="logout()" id="logout">
                                                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li *ngSwitchCase="false" (click)="register()">
                        <button class="Button Button--link" title="Sign Up">
                            <span class="Button-label" jhiTranslate="global.messages.info.register.link">
                                Register a new account
                            </span>
                        </button>
                    </li>
                    <li *ngSwitchCase="false" (click)="login()">
                        <button class="Button Button--link" type="button" title="Sign In">
                            <span class="Button-label" jhiTranslate="global.menu.account.login">Login In</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>
