<div class="DiscussionPage">
    <div class="DiscussionPage-list" (mouseleave)="hiddenPane()">
        <div class="DiscussionList">
            <button class="Button Button--block DiscussionList-update" type="button" title="">
                <span class="Button-label">Show 2 updated discussions</span>
            </button>
            <ul class="DiscussionList-discussions">
                <li>
                    <div class="DiscussionListItem">
                        <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic disabled">
                            <i class="icon fa fa-fw fa-check "></i>
                        </a>
                        <div class="DiscussionListItem-content Slidable-content">
                            <a href="#" class="DiscussionListItem-author" title="" >
                                <img class="Avatar" src="../../../content/images/aao.jpg">
                            </a>
                            <ul class="DiscussionListItem-badges badges">
                                <li class="item-sticky">
                                    <span class="Badge Badge--sticky " title="">
                                        <i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i>
                                    </span>
                                </li>
                            </ul>
                            <a href="#" class="DiscussionListItem-main">
                                <h3 class="DiscussionListItem-title">Community Update - March 2017</h3>
                                <ul class="DiscussionListItem-info">
                                    <li class="item-tags">
                                        <span class="TagsLabel ">
                                            <span class="TagLabel colored" style="color: rgb(239, 86, 79); background-color: rgb(239, 86, 79);">
                                                <span class="TagLabel-text">Meta</span>
                                            </span>
                                            <span class="TagLabel ">
                                                <span class="TagLabel-text">Blog</span>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="item-terminalPost">
                                        <span>
                                            <i class="icon fa fa-fw fa-reply "></i>
                                            <span class="username">hludwig</span>replied
                                            <time>15 minutes ago</time>
                                        </span>
                                    </li>
                                    <li class="item-excerpt">
                                        <span>
                                            Greetings my fellow Flarumites!
                                            March is upon us, and with it comes
                                            another community update. Februrary
                                            brought along some hard work and progress
                                            towards important steps, so let's talk about that. DEV...
                                        </span>
                                    </li>
                                </ul>
                            </a><span class="DiscussionListItem-count" title="">25</span></div>
                    </div>
                </li>
            </ul>
            <div class="DiscussionList-loadMore">
                <button class="Button" type="button" title="Load More">
                    <span class="Button-label">Load More</span>
                </button>
            </div>
        </div>
    </div>
    <div class="DiscussionPage-discussion">
        <header class="Hero DiscussionHero DiscussionHero--colored" style="background-color: rgb(75, 147, 209);">
            <div class="container">
                <ul class="DiscussionHero-items">
                    <li class="item-badges">
                        <ul class="DiscussionHero-badges badges">
                            <li class="item-locked">
                                <span class="Badge Badge--locked " title="Locked">
                                    <i class="icon fa fa-fw fa-lock Badge-icon"></i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="item-tags">
                        <span class="TagsLabel ">
                            <a href="#" class="TagLabel colored" title="" style="color: rgb(75, 147, 209); background-color: rgb(75, 147, 209);">
                                <span class="TagLabel-text">Support</span>
                            </a>
                            <a href="#" class="TagLabel" title="">
                                <span class="TagLabel-text">Integrations</span>
                            </a>
                        </span>
                    </li>
                    <li class="item-title">
                        <h2 class="DiscussionHero-title">
                            Is there a plug that allows to see the group of connected on the screen?
                        </h2>
                    </li>
                </ul>
            </div>
        </header>
        <div class="container">
            <nav class="DiscussionPage-nav">
                <ul>
                    <li class="item-controls">
                        <div class="ButtonGroup Dropdown dropdown App-primaryControl Dropdown--split">
                            <button class="SplitDropdown-button Button Button--primary hasIcon" type="button" title="Log In to Reply">
                                <i class="icon fa fa-fw fa-reply Button-icon"></i>
                                <span class="Button-label">Log In to Reply</span>
                            </button>
                            <button class="Dropdown-toggle Button Button--icon Button--primary" data-toggle="dropdown">
                                <i class="icon fa fa-fw fa-ellipsis-v Button-icon"></i>
                                <i class="icon fa fa-fw fa-caret-down Button-caret"></i>
                            </button>
                            <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right">
                                <li class="item-reply">
                                    <button class="hasIcon" type="button" title="">
                                        <i class="icon fa fa-fw fa-reply Button-icon"></i>
                                        <span class="Button-label">Log In to Reply</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item-scrubber">
                        <div class="PostStreamScrubber Dropdown App-titleControl">
                            <button class="Button Dropdown-toggle" data-toggle="dropdown">
                                <span class="Scrubber-index">1</span> of
                                <span class="Scrubber-count">3</span> posts
                                <i class="icon fa fa-fw fa-sort "></i>
                            </button>
                            <div class="Dropdown-menu dropdown-menu">
                                <div class="Scrubber">
                                    <a class="Scrubber-first">
                                        <i class="icon fa fa-fw fa-angle-double-up "></i> Original Post
                                    </a>
                                    <div class="Scrubber-scrollbar" style="max-height: 55px; cursor: pointer; user-select: none;">
                                        <div class="Scrubber-before" style="height: 0%;"></div>
                                        <div class="Scrubber-handle" style="cursor: move; height: 90.9091%;">
                                            <div class="Scrubber-bar"></div>
                                            <div class="Scrubber-info">
                                                <strong>
                                                    <span class="Scrubber-index">1</span> of
                                                    <span class="Scrubber-count">3</span> posts
                                                </strong>
                                                <span class="Scrubber-description">May 2017</span>
                                            </div>
                                        </div>
                                        <div class="Scrubber-after" style="height: 9.09091%;"></div>
                                        <div class="Scrubber-unread" style="top: 100%; height: 0%;"> unread</div>
                                    </div>
                                    <a class="Scrubber-last"><i class="icon fa fa-fw fa-angle-double-down "></i> Now</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="DiscussionPage-stream">
                <div class="PostStream">
                    <div class="PostStream-item" style="display: block;">
                        <article class="Post undefined CommentPost">
                            <div>
                                <header class="Post-header">
                                    <ul>
                                        <li class="item-user">
                                            <div class="PostUser"><h3><a href="#">
                                                <img class="Avatar PostUser-avatar" src="../../../content/images/aao.jpg">
                                                <span class="username">Jorge</span></a></h3>
                                                <ul class="PostUser-badges badges"></ul>
                                            </div>
                                        </li>
                                        <li class="item-meta">
                                            <div class="Dropdown PostMeta">
                                                <a class="Dropdown-toggle" data-toggle="dropdown">
                                                    <time>19 hours ago </time>
                                                </a>
                                                <div class="Dropdown-menu dropdown-menu">
                                                    <span class="PostMeta-number">Post #1</span>
                                                    <span class="PostMeta-time"><time>Thursday, May 11, 2017 4:40 AM</time></span>
                                                    <span class="PostMeta-ip"></span>
                                                    <input class="FormControl PostMeta-permalink">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </header>
                                <div class="Post-body">
                                    <p><img src="../../../content/images/aao.jpg" title="" alt=""></p>
                                </div>
                                <aside class="Post-actions">
                                    <ul>
                                        <li class="item-reply">
                                            <button class="Button Button--link" type="button" title="Reply">
                                                <span class="Button-label">Reply</span>
                                            </button>
                                        </li>
                                    </ul>
                                </aside>
                                <footer class="Post-footer">
                                    <ul></ul>
                                </footer>
                            </div>
                        </article>
                        <div class="Post-quoteButtonContainer"></div>
                    </div>
                    <div class="PostStream-item">
                        <article class="Post ReplyPlaceholder">
                            <header class="Post-header"><span class="Avatar PostUser-avatar"></span> Write a Reply...
                            </header>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
