<div class="IndexPage-toolbar">
    <ul class="IndexPage-toolbar-view">
        <li class="item-sort">
            <span class="Select">
                <select class="Select-input FormControl">
                    <option value="latest"><span jhiTranslate="global.order.latest">最新回复</span></option>
                    <option value="top"><span jhiTranslate="global.order.latest">置顶</span></option>
                    <option value="newest"><span jhiTranslate="global.order.latest">最新发布</span></option>
                    <option value="oldest"><span jhiTranslate="global.order.latest">最早发布</span></option>
                </select>
                <i class="icon fa fa-fw fa-sort Select-caret"></i>
            </span>
        </li>
    </ul>
    <ul class="IndexPage-toolbar-action"></ul>
</div>
